/* this css file will only style the homepage of our site */

body{
  background-color: rgb(117,137,84);
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
}


#credits{
  border-radius: 1px;
  background-color: rgb(117,137,84);
  display: inline-block;
  margin:0px;
  padding:0px;
}

h3{
  margin:0px;
  padding:10px;
  background-color: rgb(117,137,84);
  color: rgb(220,170,0);
  display: inline-block;
  font-size: 150%;
  
}


#oval{
  position: absolute;
  z-index: .5;
  scale: 110%;
}

#of{
  position:absolute;
  scale:25%;
  left: 17%;
  top:1%;
  z-index: 1;

}
h1,h2{
  margin:7px;
  font-style: normal;
}
h2{
  font-size: 200%;
}
h1{
  margin-top: 0%;
  font-size: 225%;
  line-height: 1.5;
  font-weight: normal;
}
p{
  margin: 25px;
}
#squirrel{
  position:absolute;
  z-index: 1;
  scale:40%;
  top: 15%;
  left:16.5%
}


#title{
  margin-top:1%;
  border: 1px;
  background-color: rgb(13,7,49);
  color: rgb(128, 151, 92);
  display: inline-block;
  padding:5px;
  padding-top: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
}

#begin{
  margin-top:1%;
  border: 1px;
  background-color: rgb(13,7,49);
  color: rgb(128, 151, 92);
  display: inline-block;
  padding:10px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
}



html {
  overflow: hidden;
}

#start{
  position:absolute;
  background-color:  rgb(13,7,49);
  right:5%;
  bottom: 5%;
  z-index: 5;
  color: rgb(128, 151, 92);
  display:inline-block;
  padding: 12px;
}