html,
body {
  height: 100vh; /* Make sure both html and body elements cover the full viewport height */
  margin: 0; /* Remove default margins */
  overflow: hidden;
}

body {
  background-size: cover; /* Ensure the entire image is visible */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: blue;
}

#main-container {
  height: 100%;
  display: grid;
  grid-template-rows: 150px 1fr; /* Header, content area, and footer */
  grid-template-columns: 100px 1fr; /* Controls and content */
  /* border: solid 4px blue; */
}

#content-container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  /* border: solid 4px yellow; */
}

#squirrel-container {
  display: flex;
  justify-content: center;
  /* border: solid 4px blue; */
}

#controls-container {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5em;
  /* border: solid 4px green; */
  padding-top: 50px;
  padding-bottom: 50px;
}

#header {
  grid-row: 1;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: solid 4px red; */
}

/* #footer {
  grid-row: 3;
  grid-column: 1 / 3;
  border: solid 4px purple;
} */

#scene-title {
  font-family: "Neucha", sans-serif;
  font-size: 108px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 115, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}

#squirrel {
  width: 25%;
  /* border: solid 4px red; */
}

#thought,
#tail-box {
  position: relative;
  left: 6.25%;
}

#thought {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 43%;
  height: 36.7%;
  padding: 20px;
  background: #cf5858;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0;
}

#tail-box {
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 83px solid #cf5858;
  align-self: center;
  opacity: 0;
}

#options-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* button Style from https://getcssscan.com/css-buttons-examples */
#options-container button {
  margin-right: 10px;
  background-color: #fff;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bokor',system-ui;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#options-container button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#options-container button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* button Style from https://codepen.io/GLITCHY99/pen/wVopWz */
.play-container {
  position: relative;
}

.play-container a,
.play-container button {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #6400a4,
    #5e07b5,
    #5411c6,
    #411bd8,
    #1225eb
  );
  border: 2px dotted white;
  color: aliceblue;
  border-radius: 50%;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.animated a::after,
.animated button::after {
  position: absolute;
  content: "";
  bottom: -7px;
  top: -7px;
  left: -7px;
  right: -7px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0px;
  opacity: 1;
  transform-origin: center;
  animation: anim 800ms linear infinite;
}

.animated a::before,
.animated button::before {
  position: absolute;
  content: "";
  bottom: -7px;
  top: -7px;
  left: -7px;
  right: -7px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0px;
  opacity: 0.8;
  transform-origin: center;
  animation: anim 800ms linear 400ms infinite;
}

@keyframes anim {
  from {
    margin: 0px;
    opacity: 1;
  }

  to {
    margin: -15px;
    opacity: 0;
  }
}

audio {
  display: none;
}

.options button {
  max-width: 50px;
}
