/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#testing1 input[type="text"] {
  width: 10px;
  height: 15px;
}

body{
  background-color: white;
}
div{
  border-radius: 10px;
  border: 2px solid black;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  display: inline-block;
}
#testing1{
  background-image: url('../img/paper.jpg');
  background-size: contain;
  filter: brightness(1) contrast(1) saturate(1) hue-rotate(0deg) opacity(1); /*Manual image adjustments*/
}
#speech-bubble{
  border: 6px inset;
  position: absolute;
  top: 100px;
  left:800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0 ;
  transition: opacity 0.5s ease-in-out;
}
#speech-bubble.active{
  opacity: 1;
}

#overlay-image {
  position: absolute;
  top: 35px;
  left: 775px;
  width: 12%;
  height: 12%;
}
#speech-bubble button{
  float: right;
  background: white;
}


